
/java/training/JavaProyecto/dist/
/java/training/Java_utn/nbproject/private/
/java/training/Ejercicio1/nbproject/private/

/java/training/java_utn/Ejercicio1/nbproject
/java/training/java_utn/Ejercicio1/build/
/java/training/java_utn/Ejercicio2/nbproject
/java/training/java_utn/Ejercicio2/build/
/java/training/java_utn/Ejercicio1/build.xml
/java/training/java_utn/Ejercicio1/manifest.mf

/java/training/java_utn/Ejercicio1/nbproject/private/
/java/training/java_utn/Ejercicio1/build/
/java/training/java_utn/Ejercicio2/nbproject
/java/training/java_utn/Ejercicio2/build/

/java/training/java_utn/Ejercicio2/build.xml
/java/training/java_utn/Ejercicio2/manifest.mf
/java/training/java_utn/Ejercicio3/nbproject/private/
/java/training/java_utn/Ejercicio3/build/
/java/training/java_utn/Ejercicio3/nbproject
/java/training/java_utn/Ejercicio3/build.xml
/java/training/java_utn/Ejercicio3/manifest.mf
/java/training/java_utn/Ejercicio4/nbproject
/java/training/java_utn/Ejercicio4/build/
/java/training/java_utn/Ejercicio4/build.xml
/java/training/java_utn/Ejercicio4/manifest.mf
/java/training/java_utn/Ejercicio5/nbproject
/java/training/java_utn/Ejercicio5/build/
/java/training/java_utn/Ejercicio5/build.xml
/java/training/java_utn/Ejercicio5/manifest.mf
/java/training/java_utn/Ejercicio6/nbproject
/java/training/java_utn/Ejercicio6/build/
/java/training/java_utn/Ejercicio6/build.xml
/java/training/java_utn/Ejercicio6/manifest.mf
/java/training/java_utn/Ejercicio7/nbproject
/java/training/java_utn/Ejercicio7/build/
/java/training/java_utn/Ejercicio7/build.xml
/java/training/java_utn/Ejercicio7/manifest.mf
/java/training/java_utn/Ejercicio8/nbproject
/java/training/java_utn/Ejercicio8/build/
/java/training/java_utn/Ejercicio8/build.xml
/java/training/java_utn/Ejercicio8/manifest.mf
/java/training/java_utn/Ejercicio9/nbproject
/java/training/java_utn/Ejercicio9/build/
/java/training/java_utn/Ejercicio9/build.xml
/java/training/java_utn/Ejercicio9/manifest.mf
/java/training/java_utn/Ejercicio10/nbproject
/java/training/java_utn/Ejercicio10/build/
/java/training/java_utn/Ejercicio10/build.xml
/java/training/java_utn/Ejercicio10/manifest.mf

/java/training/java_utn/holaMundo/build/
/java/training/java_utn/holaMundo/nbproject
/java/training/java_utn/holaMundo/build.xml
/java/training/java_utn/holaMundo/manifest.mf
/java/training/java_utn/Condicionales8/nbproject
/java/training/java_utn/Condicionales/Condicionales8/build/
/java/training/java_utn/Condicionales/Condicionales8/build.xml
/java/training/java_utn/Condicionales/Condicionales8/manifest.mf
/java/training/java_utn/Condicionales/Condicionales8/nbproject
/java/training/java_utn/Condicionales/Condicionales9/nbproject
/java/training/java_utn/Condicionales/Condicionales9/build/
/java/training/java_utn/Condicionales/Condicionales9/build.xml
/java/training/java_utn/Condicionales/Condicionales9/manifest.mf
/java/training/java_utn/Condicionales/Condicionales10/nbproject
/java/training/java_utn/Condicionales/Condicionales10/build/
/java/training/java_utn/Condicionales/Condicionales10/build.xml
/java/training/java_utn/Condicionales/Condicionales10/manifest.mf
/java/training/java_utn/ejerciciopromedio/nbproject
/java/training/java_utn/ejerciciopromedio/build/
/java/training/java_utn/ejerciciopromedio/build.xml
/java/training/java_utn/ejerciciopromedio/manifest.mf

/java/training/java_utn/JavaRefactorChallenge/ArrayChallenge/build
/java/training/java_utn/JavaRefactorChallenge/ArrayChallenge/nbproject/private

/java/training/java_utn/SwitchCaseChallenge/nbproject/private/
/java/training/java_utn/SwitchCaseChallenge/build/
/java/training/java_utn/FlowControlChallege/nbproject/private/
/java/training/java_utn/FlowControlChallege/build/
/java/training/java_utn/ArrayChallenge/nbproject/private/
/java/training/java_utn/ArrayChallenge/build/
/java/training/java_utn/ConditionsChallenge/nbproject/private/
/java/training/java_utn/MethodsChallenge/nbproject/private/
/java/training/java_utn/MethodsChallenge/build/
/java/training/java_utn/PolymorphismChallenge/nbproject/private/
/java/training/java_utn/PolymorphismChallenge/build/
/java/training/java_utn/SortComparableChallenge/nbproject/private/
/java/training/java_utn/SortComparableChallenge/build/
/java/training/java_utn/TypeDate/nbproject/private/
/java/training/java_utn/TypeDate/build/
/java/training/java_utn/ClasesChallenge/nbproject/private/
/java/training/java_utn/ClasesChallenge/build/
/java/training/java_utn/Ciclos/Ciclos1//build.xml
/java/training/java_utn/Ciclos/Ciclos1/nbproject
/java/training/java_utn/Ciclos/Ciclos1/manifest.mf
/java/training/java_utn/Ciclos/Ciclos/nbproject
/java/training/java_utn/Ciclos/Ciclos1/build/
/java/training/java_utn/MyComponents/components-DynamicTreeDemoProject/nbproject/private/
/java/training/java_utn/Ciclos/TreeDemo/nbproject/private/
/java/training/java_utn/condicionales/Condicionales8/build/
/java/training/java_utn/condicionales/Condicionales8/nbproject/private/
/java/training/java_utn/condicionales/Condicionales9/build/
/java/training/java_utn/condicionales/Condicionales9/nbproject/private/
/java/training/java_utn/condicionales/Condicionales10/build/
/java/training/java_utn/condicionales/Condicionales10/nbproject/private/
/java/training/java_utn/Demos/TreeDemo/build/
/java/training/java_utn/Demos/MenuDemo/nbproject
/java/training/java_utn/Demos/MenuDemo/build
/java/training/java_utn/Demos/MenuDemo/build.xml
/java/training/java_utn/Demos/MenuDemo/manifest.mf
/java/training/java_utn/Demos/DynamicTreeDemoProyect/nbproject
/java/training/java_utn/Demos/DynamicTreeDemoProyect/build
/java/training/java_utn/Demos/DynamicTreeDemoProyect/build.xml
/java/training/java_utn/Demos/DynamicTreeDemoProyect/manifest.mf
/java/training/java_utn/Ciclos/ciclos4/nbproject/private/
/java/training/java_utn/Ciclos/ciclos4/build/
/java/training/java_utn/Ciclos/ciclos4/nbproject
/java/training/java_utn/Ciclos/ciclos4/build.xml
/java/training/java_utn/Ciclos/ciclos4/nbproject/private/
/java/training/java_utn/Ciclos/ciclos4/manifest.mf
/java/training/JavaRefactorChallenge/Variable&Math/nbproject/private
/java/training/JavaRefactorChallenge/Variable&Math/build.xml
/java/training/JavaRefactorChallenge/Variable&Math/build
/java/training/JavaRefactorChallenge/Variable&Math/nbproyect

/java/training/JavaRefactorChallenge/JavaModularApplication1/nbproject/private/
/java/training/JavaRefactorChallenge/gradleproject1/.gradle/

/java/training/java_utn/treeNode/nbproject/private/

/java/training/java_utn/Ciclos/CiclosWhile/nbproject/private/
/java/training/java_utn/Ciclos/CiclosWhile/nbproject
/java/training/java_utn/Ciclos/CiclosWhile/build
/java/training/java_utn/Ciclos/CiclosWhile/build.xml
/java/training/java_utn/Ciclos/CiclosWhile/manifest.mf

/java/training/java_utn/Ciclos/CclosWhileFor/build
/java/training/java_utn/Ciclos/CclosWhileFor/nbproject
/java/training/java_utn/Ciclos/CclosWhileFor/build.xml
/java/training/java_utn/Ciclos/CclosWhileFor/manifest.mf

/java/training/java_utn/Ciclos/CicloCuadrado/manifest.mf
/java/training/java_utn/Ciclos/CicloCuadrado/nbproject
/java/training/java_utn/Ciclos/CicloCuadrado/build.xml
/java/training/java_utn/Ciclos/CicloCuadrado/build/
