
/java/training/java_utn/leccion04/Aritmetica/nbproject/private/
/java/training/java_utn/leccion02/EjercicioCiclos12/nbproject/private/
/java/training/java_utn/leccion05/ContextoEstatico/nbproject/private/
/java/training/java_utn/leccion05/ContextoEstatico/build/
/java/training/java_utn/leccion01/Ejercicio_1/nbproject/private/
/java/training/java_utn/leccion01/Ejercicio_1/build/
/java/training/java_utn/leccion01/Ejercicio_6/nbproject/private/
/java/training/java_utn/leccion01/Ejercicio_6/build/
/java/training/java_utn/leccion01/Ejercicio_5/nbproject/private/
/java/training/java_utn/leccion01/Ejercicio_5/build/
